.env
*.env
server/.env
server/*.env
node_modules/
dist/
build/
.env.local
.env.*.local
uploads/
.DS_Store
npm-debug.log
yarn-error.log
# Ignore build and DB archive binaries
client_build.zip
*.archive
